<!-- FOOTER -->
<footer>
    <div class="informacion">
      <div class="col">
        <h3>Acerca de Lavasoft</h3>
        <ul>
          <li><a href="#">¿Quiénes somos?</a></li>
          <li><a href="#">Confianza y Seguridad</a></li>
          <li><a href="#">Recursos y políticas</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>¿Necesitas ayuda?</h3>
        <ul>
          <li><a [routerLink]="['/faq']">Preguntas frecuentes</a></li>
          <li><a href="#">Contactanos</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Idioma</h3>
        <p>Esta es la versión de nuestro sitio web destinada a quienes hablen español en Colombia. Si eres residente de otro país o región, selecciona la versión correcta de LavaSoft para tu país o región en el menú desplegable.
        </p>
        <!-- Input para seleccionar idioma:  -->
        <select name="idioma" id="idioma">
          <option value="es">Español</option>
          <option value="en">English</option>
        </select>
      </div>
      <div class="col">
        <h3>Redes Sociales</h3>
        <ul class="redes">
          <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="credenciales">
      <ul>
        <li>© 2022 Lavasoft Industries
        </li>
        <li><a href="#">Politica y Pricavidad</a></li>
        <li><a href="#">Aviso Legal T&C</a></li>
        <li><a href="#">Politica Cookies</a></li>
      </ul>
    </div>
  </footer>
  <!-- ----------------------------  -->