<!-- FOOTER -->
<footer>
    <div class="informacion">
      <div class="col">
        <h3>{{'footer.Acerca.title' | translate}}</h3>
        <ul>
          <li><a href="#">{{'footer.Acerca.quienes' | translate}}</a></li>
          <li><a href="#">{{'footer.Acerca.confianza' | translate}}</a></li>
          <li><a href="#">{{'footer.Acerca.recursos' | translate}}</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>{{'footer.Ayuda.title' | translate}}</h3>
        <ul>
          <li><a [routerLink]="['/faq']">{{'footer.Ayuda.preguntas' | translate}}s</a></li>
          <li><a href="#">{{'footer.Ayuda.contactanos' | translate}}</a></li>
          <li><a href="#">{{'footer.Ayuda.terminos' | translate}}</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>{{'footer.Idioma.title' | translate}}</h3>
        <p>{{'footer.Idioma.subtitle' | translate}}</p>
        <!-- Input para seleccionar idioma:  -->
        <select name="idioma" id="idioma" #langSelect (change)="changeLang(langSelect.value)">
          <option *ngFor="let lang of langs" [value]="lang">
            {{ lang }}
          </option>
        </select>
      </div>
      <div class="col">
        <h3>{{'footer.Redes' | translate}}</h3>
        <ul class="redes">
          <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="credenciales">
      <ul>
        <li>© 2022 Lavasoft Industries
        </li>
        <li><a href="#">{{'footer.Credenciales.politica' | translate}}</a></li>
        <li><a href="#">{{'footer.Credenciales.aviso' | translate}}</a></li>
        <li><a href="#">{{'footer.Credenciales.cookies' | translate}}</a></li>
      </ul>
    </div>
  </footer>
  <!-- ----------------------------  -->