<!-- -----------BODY-----------------  -->
<section class="main-container">
    <div class="header">
      <div class="title">
        <h1>
          No pierdas mas el tiempo esperando en Autolavados
        </h1>
        <h3>
          Busca tu lavadero de preferencia y Agenda tu lavado de vehiculo.
        </h3>
      </div>
      <div class="buscador">
        <div class="seccion-input">
        <div class="filtro">
          <p>Tipo de Vehiculo</p>
          <select name="" id="" value>
            <option value="">Seleccione una opción&nbsp;&nbsp;</option>
            <option value="">Carro</option>
            <option value="">Moto</option>
            <option value="">Camioneta</option>
          </select>
        </div>
        <div class="filtro">
          <p>Ubicación</p>
          <select name="" id="" value>
            <option value="">Seleccione una opción&nbsp;&nbsp;</option>
            <option value="">Bogotá</option>
            <option value="">Medellín</option>
            <option value="">Cali</option>
          </select>
        </div>
        <div class="filtro">
          <p>Servicio</p>
          <select name="" id="" value>
            <option value="">Seleccione una opción&nbsp;&nbsp;</option>
          </select>
        </div>
        <div class="filtro date">
          <p>Fecha</p>
          <input type="date">
        </div>
          <input type="submit" value="Buscar Lavadero">
        </div>
      </div>
    </div>
    <div class="principal">
      <div class="paso-paso">
        <div class="title-paso">
          <h2>Paso a Paso</h2>
          <p>3 simples pasos para agendar el lavado de tu vehiculo</p>
        </div>
        <div class="info-paso">
          <div class="paso">
            <div class="icon-paso">

            </div>
            <h4>Paso 1</h4>
            <p>Busca tu lavadero de referencia</p>
          </div>
          <div class="paso">
            <div class="icon-paso">
              
            </div>
            <h4>Paso 2</h4>
            <p>agenda el servicio y la hora que desee</p>
          </div>
          <div class="paso">
            <div class="icon-paso">
              
            </div>
            <h4>Paso 3</h4>
            <p>El lavadero te estará esperando</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ----------------------------  -->