<!-- -----------BODY-----------------  -->
<section class="main-container">
  <div class="header">
    <div class="title">
      <h1>{{'main.Header.title' | translate}}</h1>
      <h3>{{'main.Header.subtitle' | translate}}</h3>
    </div>
    <div class="buscador">
      <div class="seccion-input">
        <div class="filtro">
          <p>{{'main.Header.navegador.tipoVeh.title' | translate}}</p>
          <select name="" id="" value>
            <option value="">{{'main.Header.navegador.select' | translate}}&nbsp;&nbsp;</option>
            <!-- Bucle *ngFor para recorrer array de .json de angular translate -->
            <option *ngFor="let tipos of ('main.Header.navegador.tipoVeh.tipos' | translate)">
              {{tipos}}
            </option>
          </select>
        </div>
        <div class="filtro">
          <p>{{'main.Header.navegador.ubicacion' | translate}}</p>
          <select name="" id="" value>
            <option value="">{{'main.Header.navegador.select' | translate}}&nbsp;&nbsp;</option>
            <option value="">Bogotá</option>
            <option value="">Medellín</option>
            <option value="">Cali</option>
          </select>
        </div>
        <div class="filtro">
          <p>{{'main.Header.navegador.servicio' | translate}}</p>
          <select name="" id="" value>
            <option value="">{{'main.Header.navegador.select' | translate}}&nbsp;&nbsp;</option>
          </select>
        </div>
        <div class="filtro date">
          <p>{{'main.Header.navegador.fecha' | translate}}</p>
          <input type="date" />
        </div>
        <input type="submit" value="{{'main.Header.navegador.button' | translate}}" />
      </div>
    </div>
  </div>
  <!-- /////////////////////////////////////////////////// -->

  <!-- ////////////////////////////////////////////s -->

  <div class="principal">
    <div class="paso-paso">
      <div class="title-paso">
        <h2>{{'main.Paso.title' | translate}}</h2>
        <p>{{'main.Paso.subtitle' | translate}}</p>
      </div>
      <div class="info-paso">
        <div class="paso">
          <div class="icon-paso"></div>
          <h4>{{'main.Paso.pasos.paso1.title' | translate}}</h4>
          <p>{{'main.Paso.pasos.paso1.subtitle' | translate}}</p>
        </div>
        <div class="paso">
          <div class="icon-paso"></div>
          <h4>{{'main.Paso.pasos.paso2.title' | translate}}</h4>
          <p>{{'main.Paso.pasos.paso2.subtitle' | translate}}</p>
        </div>
        <div class="paso">
          <div class="icon-paso"></div>
          <h4>{{'main.Paso.pasos.paso3.title' | translate}}</h4>
          <p>{{'main.Paso.pasos.paso3.subtitle' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ----------------------------  -->
