<!-- -------------NAVBAR---------------  -->
<nav class="container-nav">
  <button data-text="Awesome" class="button">
    <span class="actual-text">&nbsp;&nbsp;LavaSoft&nbsp;&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;&nbsp;LavaSoft&nbsp;&nbsp;</span>
  </button>
  <ul class="nav nav-clientes">
    <li>
      <a>Iniciar Sesión</a>
    </li>
    <li>
      <a class="create">Crear Cuenta</a>
    </li>
  </ul>
  <ul class="nav">
    <li>
      <a><span class="active hover-underline-animation"> INICIO </span></a>
    </li>
    <li>
      <a><span class="hover-underline-animation"> LAVADEROS </span></a>
    </li>
    <li>
      <a><span class="hover-underline-animation"> EMPRESAS </span></a>
    </li>
  </ul>
</nav>
<!-- ----------------------------  -->
<!-- -----------BODY-----------------  -->
<div class="main-container">
  <div class="header">
    <div class="tittle">
      <h1>
        No pierdas mas el tiempo esperando en Autolavados
      </h1>
      <h3>
        Busca tu lavadero de preferencia y Agenda tu lavado de vehiculo.
      </h3>
    </div>
    <div class="buscador">
      <div class="seccion-input">
        <select name="" id="">
          <option value=""></option>
        </select>
        <select name="" id="">
          <option value=""></option>
        </select>
        <select name="" id="">
          <option value=""></option>
        </select>
        <input type="date">
        <input type="submit" value="">
      </div>
    </div>
    <div class="principal">
      <div class="paso-paso">

      </div>
    </div>
  </div>

</div>


<!-- ----------------------------  -->
<!-- ----------------------------  -->
<!-- FOOTER -->
<footer>
  <div class="informacion">
    <div class="col">
      <h3>Acerca de Lavasoft</h3>
      <ul>
        <li><a href="#">¿Quiénes somos?</a></li>
        <li><a href="#">Confianza y Seguridad</a></li>
        <li><a href="#">Recursos y políticas</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>¿Necesitas ayuda?</h3>
      <ul>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Contactanos</a></li>
        <li><a href="#">Términos y condiciones</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Idioma</h3>
      <p>Esta es la versión de nuestro sitio web destinada a quienes hablen español en Colombia. Si eres residente de otro país o región, selecciona la versión correcta de LavaSoft para tu país o región en el menú desplegable.
      </p>
      <!-- Input para seleccionar idioma:  -->
      <select name="idioma" id="idioma">
        <option value="es">Español</option>
        <option value="en">English</option>
      </select>
    </div>
    <div class="col">
      <h3>Redes Sociales</h3>
      <ul class="redes">
        <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="credenciales">
    <ul>
      <li>© 2022 Lavasoft Industries
      </li>
      <li><a href="#">Politica y Pricavidad</a></li>
      <li><a href="#">Aviso Legal T&C</a></li>
      <li><a href="#">Politica Cookies</a></li>
    </ul>
  </div>
</footer>
<!-- ----------------------------  -->