<nav class="container-nav">
  <button data-text="Awesome" class="button">
    <span class="actual-text">&nbsp;&nbsp;LavaSoft&nbsp;&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;&nbsp;LavaSoft&nbsp;&nbsp;</span>
  </button>
  <ul class="nav nav-clientes">
    <li>
      <a>Iniciar Sesión</a>
    </li>
    <li>
      <a class="create">Crear Cuenta</a>
    </li>
  </ul>
  <ul class="nav">
    <li>
      <a><span class="active hover-underline-animation"> INICIO </span></a>
    </li>
    <li>
      <a><span class="hover-underline-animation"> LAVADEROS </span></a>
    </li>
    <li>
      <a><span class="hover-underline-animation"> EMPRESAS </span></a>
    </li>
  </ul>
</nav>


<footer>
  <div class="informacion">
    <div class="col">
      <h3>Acerca de Lavasoft</h3>
      <ul>
        <li><a href="#">¿Quiénes somos?</a></li>
        <li><a href="#">Confianza y Seguridad</a></li>
        <li><a href="#">Recursos y políticas</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>¿Necesitas ayuda?</h3>
      <ul>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Contactanos</a></li>
        <li><a href="#">Términos y condiciones</a></li>
      </ul>
    </div>
    <div class="col">
      <h3>Idioma</h3>
      <p>Esta es la versión de nuestro sitio web destinada a quienes hablen español en Colombia. Si eres residente de otro país o región, selecciona la versión correcta de LavaSoft para tu país o región en el menú desplegable.
      </p>
      <!-- Input para seleccionar idioma:  -->
      <select name="idioma" id="idioma">
        <option value="es">Español</option>
        <option value="en">English</option>
      </select>
    </div>
    <div class="col">
      <h3>Redes Sociales</h3>
      <ul>
        <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="credenciales">
    <!-- 2022 Lavasoft todos los derechos reservados, politica y pricavidad, aviso legal  y T&C, politica cokies -->
    <p>2022 Lavasoft todos los derechos reservados, <a href="#">politica y pricavidad</a>, <a href="#">aviso legal</a> y <a href="#">T&C</a>, <a href="#">politica cokies</a></p> 

    
  </div>
</footer>
