<!-- -------------NAVBAR---------------  -->
<nav class="container-nav">
    <button data-text="Awesome" class="button"  [routerLink]="['/principal']">
      <span class="actual-text">&nbsp;&nbsp;LavaSoft&nbsp;&nbsp;</span>
      <span class="hover-text" ></span>
    </button>
    <ul class="nav nav-clientes">
      <li>
        <a>{{'header.Botones.inicio' | translate}}</a>
      </li>
      <li>
        <a class="create">{{'header.Botones.crear' | translate}}</a>
      </li>
    </ul>
    <ul class="nav">
      <li>
        <a><span class="active hover-underline-animation"> {{'header.Navbar.inicio' | translate}} </span></a>
      </li>
      <li>
        <a><span class="hover-underline-animation"> {{'header.Navbar.lavaderos' | translate}} </span></a>
      </li>
      <li>
        <a><span class="hover-underline-animation"> {{'header.Navbar.empresas' | translate}} </span></a>
      </li>
    </ul>
  </nav>
  <!-- ----------------------------  -->