<!-- -------------NAVBAR---------------  -->
<nav class="container-nav">
    <button data-text="Awesome" class="button">
      <span class="actual-text">&nbsp;&nbsp;LavaSoft&nbsp;&nbsp;</span>
      <span class="hover-text" aria-hidden="true">&nbsp;&nbsp;LavaSoft&nbsp;&nbsp;</span>
    </button>
    <ul class="nav nav-clientes">
      <li>
        <a>Iniciar Sesión</a>
      </li>
      <li>
        <a class="create">Crear Cuenta</a>
      </li>
    </ul>
    <ul class="nav">
      <li>
        <a><span class="active hover-underline-animation"> INICIO </span></a>
      </li>
      <li>
        <a><span class="hover-underline-animation"> LAVADEROS </span></a>
      </li>
      <li>
        <a><span class="hover-underline-animation"> EMPRESAS </span></a>
      </li>
    </ul>
  </nav>
  <!-- ----------------------------  -->